<div
    style="width: @(Context.GameAreaSize.Width)px; height: @(Context.GameAreaSize.Height)px; background-color: black;position: relative;">

    <!-- Snow Flake -->
    <img src="assets/snowflake.svg"
        style="left:@(Context.SnowFlakeRect.X)px; top:@(Context.SnowFlakeRect.Y)px; width:@(Context.SnowFlakeRect.Width)px; height:@(Context.SnowFlakeRect.Height); position:absolute;" />

    <!-- Snow Man -->
    <img src="assets/snowman.svg"
        style="left:@(Context.SnowManRect.X)px; top:@(Context.SnowManRect.Y)px; width:@(Context.SnowManRect.Width)px; height:@(Context.SnowManRect.Height); position:absolute;" />
</div>

@code {
    private GameContext Context = new();

    protected override void OnInitialized()
    {
        this.Context.GameLoopTimer.Elapsed += GameLoopTimer_Elapsed;
    }

    private void GameLoopTimer_Elapsed(object sender, EventArgs e)
    {
        this.StateHasChanged();
    }
}