<div
    style="width: @(Context.GameAreaSize.Width)px; height: @(Context.GameAreaSize.Height)px; background-color: black;position: relative;">
</div>

@code {
    private GameContext Context = new();
}
